secretfile filter=strongbox diff=strongbox merge=strongbox
*.key filter=strongbox diff=strongbox merge=strongbox
*.pem filter=strongbox diff=strongbox merge=strongbox
*.jpg filter=strongbox diff=strongbox merge=strongbox
secretdir/** filter=strongbox diff=strongbox merge=strongbox
*/statefile/** filter=strongbox diff=strongbox merge=strongbox
