secretfile filter=git-agecrypt diff=git-agecrypt
*.key filter=git-agecrypt diff=git-agecrypt
*.pem filter=git-agecrypt diff=git-agecrypt
*.jpg filter=git-agecrypt diff=git-agecrypt
secretdir/** filter=git-agecrypt diff=git-agecrypt
*/statefile/** filter=git-agecrypt diff=git-agecrypt
